
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="js/css.css">
    <title>ibaGame</title>
</head>
<body>
   <header>
   	<img src="./assets/img/game_name.png" alt="">
   </header>
   <main>
  		<img src="./assets/img/wood.jpg" alt="">
   		<div id="game"></div>
   		<div class="tutorial"></div>
   </main>
    
    <footer>
    	<img src="./assets/img/signature.png" alt="">
    </footer>  
    <script src="js/phaser.min.js"></script>
</body>  
</html>